<div class="fluid-container">
     <div class="verifier">                
         <div style="margin: 0 30px;">
             <h4>Saisir votre nouveau mot de pass</h4>
         </div>
         <p style="text-align: center;color: red;margin: 10px 30px;" id="emailError"></p>
         <input type="password" placeholder="Nouveau mot de pass" ng-model="pwd"/>
         <input type="password" placeholder="Comfirmer" ng-model="confirm"/>
         <div class="validerEmail">
             <div>
                 <button class="btn btn-success" ng-click="editPassword()">Valider</button>
             </div>
         </div>
     </div>
</div>